.button
    width: 70%
    height: 50px
    border-radius: 10px
    background-color: #c03939
    border: none
    text-align: center
    color: #ffffff
    font-size: 17px
    font-weight: 500
    text-transform: uppercase