.children
    min-height: 600px
    padding-top: 30px
    background: url(../img/bg_ch.JPG) center 0px/ cover no-repeat
    &__cut
        display: flex
        justify-content: space-between
        margin-top: 70px
    &__boys, &__girls
        &_services
            margin-top: 40px
            color: #ffffff
            font-size: 25px
            font-weight: 300
            line-height: 55px
            text-shadow: 2px 2px 4px #000000
        
        

    