.header
    min-height: 100px
    background-color: rgba(0,0,0, .99)
    &_logo
        color: #ffffff
        font-size: 50px
    &_contacts
        padding: 20px
    &_sosial
        padding: 5px
        display: flex
        justify-content: flex-end       
    &_phone
        color: #ffffff
        font-size: 20px
        text-align: center
        text-decoration: none
        &:hover
            color: #ffffff
img
    width: 25px
    height: 25px
.wrapper
    display: flex
    justify-content: space-between
    align-items: center
.vk
    padding-right: 7px

            
    