@media screen and ( max-width: 991px  )
    .header
        padding: 20px 20px 0 20px
    .promo
        min-height: 450px
        padding-top: 140px
        &__title
            font-size: 35px
        &__subtitle
            font-size: 53px
    .button
        &__main
            width: 60%
            margin-top: 90px
        &_subbutton
            margin-top: 80px
    .advantages
        min-height: 350px
        &__list
            margin-top: 55px
    .title
        font-size: 38px
        &__mini
            font-size: 33px
    .children
        min-height: 561px
        padding: 30px 20px 0 20px
        &__cut
            margin-top: 60px
        &__boys, &__girls
            &_services
                font-size: 23px
    .men
        min-height: 540px
    .wemen
        min-height: 600px
    .footer
        min-height: 65px
@media screen and ( max-width: 768px )
    .title
        font-size: 32px
        &__mini
            font-size: 25px
    .button
        &_subbutton
            width: 200px
            margin-top: 50px
    .header
        min-height: 70px
        &__logo
            width: 190px
            height: 45px
        &__nav
            font-size: 17px
        &__contacts
            &_phone
                font-size: 19px
    .sosial
        &__img
            width: 24px
            height: 24px
    .promo
        min-height: 400px
        padding-top: 120px
        &__header
            width: 480px
        &__title
            font-size: 30px
        &__subtitle
            font-size: 50px
    .advantages
        min-height: 310px
        &__list
            margin-top: 40px
            &_items
                font-size: 30px
    .children
        background: url(../img/bg_ch.jpg) center 0px/ cover no-repeat
        min-height: 660px
        padding: 30px 0 30px 0
        &__cut
            margin-top: 35px
            flex-direction: column
            align-items: center
        &__girls
            margin-top: 30px
        &__boys, &__girls
            &_services
                margin-top: 25px
                line-height: 45px
    .men
        min-height: 490px
        &__services
            &_list
                margin-top: 30px
    .wemen
        min-height: 540px
        &__services
            &_list
                margin-top: 30px
    .footer
        min-height: 60px
@media screen and ( max-width: 575px )
    .xs_hidden
        display: none
    .modal
        width: 250px
        min-height: 250px
        padding: 30px 20px 20px 20px
        &__mini
            width: 250px
            min-height: 100px
    .feed-form
        width: 100%
    .title
        font-size: 30px
        &__mini
            font-size: 24px
    .header
        min-height: 
    .promo
        min-height: 
        &__header
            width: 370px
        &__title
            font-size: 25px
        &__subtitle
            font-size: 45px
    .advantages
        min-height: 290px
        &__list
            &_items
                font-size: 23px
                line-height: 45px
@media screen and ( max-width: 414px )
    .title
        font-size: 20px
        &__mini
            font-size: 18px
    .price
        font-size: 20px
    .button
        &_subbutton
            width: 180px
            margin-top: 40px
    .sosial
        &__img
            width: 20px
            height: 20px
    .pageup
        bottom: 20px
        right: 15px
    .header
        min-height: 60px
        &__logo
            width: 160px
            height: 40px
        &__contacts
            &_phone
                font-size: 17px
    .promo
        min-height: 330px
        padding-top: 75px
        &__header
            width: 275px
        &__title
            font-size: 18px
            line-height: 35px
        &__subtitle
            font-size: 36px
            padding-top: 40px
    .advantages
        min-height: 225px
        &__list
            margin-top: 25px
            &_items
                font-size: 15px
                line-height: 35px
                li
                    img
                        width: 20px
                        height: 20px
                        padding-right: 10px
    .children
        min-height: 550px
        &__cut
            margin-top: 25px
        &__boys, &__girls
            &_services
                margin-top: 20px
                font-size: 17px
                line-height: 35px
    .men
        min-height: 365px
        &__services
            &_list
                margin-top: 20px
                font-size: 17px
                line-height: 35px
    .wemen
        min-height: 390px
        &__services
            &_list
                margin-top: 20px
                font-size: 17px
                line-height: 35px
@media screen and ( max-width: 375px )
    .modal
        &__close
            right: -25px
    .promo
        min-height: 310px
        &__header
            width: 245px
        &__title
            font-size: 17px
            line-height: 30px
        &__subtitle
            font-size: 33px
    .advantages
        min-height: 210px
@media screen and ( max-width: 320px )
    .sosial__img
        width: 17px
        height: 17px
    .modal
        width: 220px
        &__close
            right: -25px
        &__mini
            min-height: 90px
            &_subtitle
                font-size: 17px
            &_descr
                font-size: 14px
    .title
        font-size: 18px
        &__mini
            font-size: 16px
    .price
        font-size: 17px
    .button
        &__main
            width: 70%
            height: 45px
            margin-top: 75px
        &_subbutton
            width: 160px
            height: 45px
            margin-top: 30px
        &_submit
            margin-top: 10px

    .header
        min-height: 57px
        padding: 15px 15px 0 15px
        &__logo
            width: 140px
            height: 35px
        &__contacts
            &_phone
                font-size: 14px
    .promo
        min-height: 290px
        &__header
            width: 220px
        &__title
            font-size: 15px
        &__subtitle
            font-size: 30px
    .advantages
        min-height: 180px
        &__list
            margin-top: 20px
            &_items
                font-size: 14px
                line-height: 28px
    .children
        min-height: 480px
        &__boys, &__girls
            &_services
                margin-top: 15px
                font-size: 15px
                line-height: 32px
    .men
        min-height: 315px
        &__services
            &_list
                font-size: 16px
                line-height: 32px
    .wemen
        min-height: 340px
        &__services
            &_list
                font-size: 16px
                line-height: 32px
    

    
        
    
