.promo
    min-height: 500px
    background: url(../img/bg.JPG) center 0px / cover no-repeat
    padding-top: 170px
    &__header
        width: 600px
        min-height: 200px
    &__title
        color: #ffffff
        font-size: 37px
        font-weight: 900
        line-height: 50px
        text-align: center
        text-transform: uppercase
        text-shadow: 1px 1px 2px #000000
    &__subtitle
        padding-top: 50px
        color: #ffffff
        font-size: 55px
        font-weight: 900
        text-align: center
        text-transform: uppercase
        text-shadow: 1px 1px 2px #000000
.button
    display: block
    margin: 0 auto
    margin-top: 100px

