*
    font-family: 'Museo Sans Cyrl', sans-serif

.container
    position: relative
    max-width: 1000px
    margin: 0 auto

@import "header"
@import "promo"
@import "button"
@import "advantages"
@import "title"

