html
    font-family: 'Lora', serif
    
.container
    position: relative
    max-width: 1000px
    margin: 0 auto
ul
    list-style: none
.price
    font-size: 25px
    font-weight: 900
    &__descr
        font-size: 18px
        font-weight: 500

@import "header"
@import "promo"
@import "button"
@import "advantages"
@import "title"
@import "children"
@import "pageup"
@import "men"
@import "wemen"
@import "footer"
@import "form"
@import "animations"
@import "media"
